.private-header {
  background: $private-header-bg;
  color: $private-header-color;
}

.private-header__content {
  display: flex;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.private-header__title {
  margin: 0;
}
